.wrapper {
  display: grid;
  grid-template-areas:
    "y b"
    ". x";
}

.yCoords {
  grid-area: y;
  display: flex;
  flex-direction: column;
}

.xCoords {
  grid-area: x;
  display: flex;
  flex-direction: row;
}

.board {
  grid-area: b;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.row {
  display: flex;
  flex-direction: row;
}
