.button {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  color: darkslategray;
  background-color: white;
}

.black {
  background-color: darkslategray;
  color: white;
}
