.image {
  width: 100%;
  height: 100%;
}

.emoji {
  height: 75%;
  width: 75%;
  border-radius: 50%;
  border: solid 1px;
}

.black {
  color: darkslategray;
  border-color: darkslategray;
  background-color: white;
}

.white {
  color: white;
  border-color: white;
  background-color: darkslategray;
}
