.square {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #985805;
}

.white {
  background-color: #d8a951;
}

.selected {
  box-shadow: inset 0px 0px 5px 5px #ff5f5f;
}
